html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Helvetica", "Arial", sans-serif;
}

.wrapper {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px 0 1px 0;
    margin: 1em 0 1em 0;
}

.upper-container {
    margin: 0 23em 3em 23em;
}

.news-and-features__container {
    width: 100%;
}

.featured-title__h2 {
    font-size: 36px;
    color: #333333;
    margin: 48px 0 -16px 0;
    text-align: left;
}

.news-and-features__link {
    text-align: right;
}

.news-and-features__link a {
    color: #00598c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.main-news__container {
    display: flex;
    align-items: center;
    margin: 2em 0 2em 0;
}

.main-news__container img {
    width: 675px;
    height: 450px;
    margin-left: auto;
}

.main-news-card {
    background: #ffffff;
    position: absolute;
    padding: 0 2.5em 2em 3em;
    flex: 1;
}

.main-news-card b {
    color: #333333;
    font-size: 14px;
}

.main-news-card__date {
    font-size: 14px;
    font-weight: 700;
    color: #666666;
    margin: 0 0 8px;
}

.main-news-card__quote {
    color: #00598c;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
}

.main-news-card__description {
    font-size: 16px;
    line-height: 24px;
    color: #333333;

    padding: 0;
}

.news-card__description {
    font-size: 16px;
    line-height: 24px;
    color: #333333;

    padding: 0 2em 2em 2em;
}

.news-card__source-link-container {
    padding: 0 0 2em 2em;
}

.main-news-card__source-link {
    color: #00598c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.news-card__date {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

/* ---------------- Bottom ---------------- */
.bottom-container {
    background: #f2f2f2;

    padding: 0 23em 2em 23em;

    display: flex;
    justify-content: space-evenly;

    height: 42em;
}

.news-card {
    background-color: #ffffff;
    width: 30%;
    margin: 0 0.5em 0 0.5em;
}

.news-card img {
    height: auto;
    max-width: 376px;
    max-height: 282px;
    width: 100%;
    margin-bottom: 0;
}

.news-card b {
    color: #333333;
    font-size: 16px;
}

.news-card__date {
    padding: 2em 0 0 2em;
    margin: 0;
}

.news-card__quote {
    text-decoration: none;
    color: #00598c;
    font-size: 24px;
    font-weight: 700;
}

.news-card__quote p {
    text-wrap: wrap;
    padding: 0 1em 0 1.2em;
    width: fit-content;
    margin: 0.5em 0 0 0;
}

.news-card__source-link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #00598c;
}

.news-card__container--bottom {
    width: 64%;
    position: absolute;

    display: flex;

    justify-content: space-evenly;

    top: 38.5em;
}
