html {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    color: #00ffff;
    text-align: center;
}

table {
    border-style: solid;
    border-color: #00ffff;
    border-width: 2px;

    color: #00ffff;

    width: 50rem;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    padding: 2rem 1rem 1rem 1rem;

    text-align: center;
}

table td {
    padding: 1rem;
}

.person__img {
    width: 10rem;
    height: auto;
}

.person__div--description {
    opacity: 0;

    border-style: solid;
    border-width: 2px;

    width: 100%;
    height: auto;

    text-align: center;
}

.person__img:hover + .person__div--description {
    opacity: 1;

    border-color: #00ffff;
    color: #00ffff;
}
